%a(name="#{marker_name(@gallery)}" id="#{marker_name(@gallery)}")

.gallery-item
  - if @gallery[:year]
    .time-box
      = @gallery[:year]
      %br
      = Constants::MONTH[@gallery[:month]]

  .gallery-summary
    .splash
      %a(href="#{gallery_url(@gallery)}" target="#{gallery_target(@gallery)}")
        %img(src="#{File.dirname(@gallery.identifier)}/_splash.jpg" style="width: 100px; height: 100px;")

    %h4
      %a(href="#{gallery_url(@gallery)}" target="#{gallery_target(@gallery)}")
        = @gallery[:gallery_title]

    %p
      = @gallery[:text]
  