!!!
%html

  %head
    %meta(charset="utf-8")
    %meta(name="generator" content="nanoc 3.2.2")

    %title= "verticonaut - #{@item[:title]}"

    %link(rel="stylesheet" type="text/css" href="/assets/styles/galleries.css" media="screen")
    %script(type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.3.2.js")

  %body
    .container
      #layout
        #header.nolink{:style => "background: #{@item[:'base-color']};"}
          #{@item[:title]}
          #home
            %a(href="/") verticonaut
          .clear-float
     
        #content.padder
          - @site[:galleries].each do |i|
            != render "gallery", :gallery => i

        #layout_footer
      #footer
        #menubar.nolink
          %a(href="/detail/climbing")
            .menu-item-color-1.item.first
              %p Climbing
          %a(href="/detail/photography")
            .menu-item-color-2.item
              %p Photography
          %a(href="/detail/projects")
            .menu-item-color-3.item
              %p Projects
          %a(href="/detail/thoughts")
            .menu-item-color-4.item
              %p Thoughts
          %a(href="/detail/about")
            .menu-item-color-5.item
              %p About
          .clear-float

        #footer-caption
          Design by Martin Schweizer - 2011 - Built with
          %a(href="http://nanoc.stoneship.org/" target="_blank") Nanoc
