.gallery-summary
  .splash(style="float: right;")
    %a(href="#{@gallery[:url]}" target="_blank")
      %img(src="#{File.dirname(@gallery.identifier)}/_splash.jpg" style="width: 100px; height: 100px;")

  %h4
    %a(href="#{@gallery[:url]}" target="_blank")
      = @gallery[:gallery_title]

  %p
    = @gallery[:text]
  