!!!
%html

  %head
    %meta(charset="utf-8")
    %meta(name="generator" content="nanoc 3.2.2")

    %title= "verticonaut - #{@item[:title]}"

    %link(rel="stylesheet" type="text/css" href="/assets/styles/detail.css" media="screen")
    %link(rel="stylesheet" type="text/css" href="/assets/javascript/galleria/themes/twelve/galleria_twelve.css" media="screen")

    %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
    %script(type="text/javascript" src="/assets/javascript/galleria/galleria-1_2_5_min.js")

    %script(type="text/javascript")
      :plain
        Galleria.loadTheme('/assets/javascript/galleria/themes/twelve/galleria_twelve_.js');

        $(document).ready(function(){

          var gallery_data = #{build_images_data(@item[:tag]).to_json};                

          $("#gallery").galleria({
            width: 826,
            height: 500,
            imageCrop: true,
            dataSource:  gallery_data
          });
        });


    %style
      :sass
        #preview-body
          -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, .2)
          -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .2)
          background: #FFFFFF
          box-shadow: 0 3px 9px rgba(0, 0, 0, .2)
          margin-top: 15px
          padding: 12px
          position: absolute
          width: 826px

  %body(style="background-image: url(/assets/img/background_02.png)")
    #content(style="margin-left: auto; margin-right: auto; width: 850px; height: 700px; background-color: transparent;")
      .nolink(style="float: left; padding-top: 35px;")
        %h2= @item[:title]
        .nolink(style="margin-top: 55px; font-size: 12pt;")
          %a(href="#{galleries_url}")
            < Galleries
          
      #title.nolink(style="float: right; width: 250px; padding-top: 15px; z-index: 99;")
        #title-text.nolink(style="float: right; _position: absolute; top: 0; right: 0; width: 250px; border-bottom: 2px solid silver; font-size: 24pt; text-align: right;")
          %a.nolink(href="/") verticonaut
      .clear-float


      #preview-body
        #gallery
        #cr(style="position: absolute; margin-top: 18px; right: 2px; font-size: 9pt;")
          copyright &copy; Martin Schweizer
