--- 
title:      Photography
base-color: '#94b394'
stylesheet: galleries
---


#tag-clouds.nolink
  .tag-cloud
    %h4 Galleries by tag
    %ul.tagcloud
      - gallery_tag_cloud.each do |tag|
        %li{:style => "font-size: #{tag.size}pt"}
          %a{:href => "/photography/galleries/tagged/#{tag.name}/"} #{tag.name}

  .tag-cloud
    %h4 Images by tag
    %ul.tagcloud
      - image_tag_cloud.each do |tag|
        %li{:style => "font-size: #{tag.size}pt"}
          %a{:href => "/photography/images/tagged/#{tag.name}/"} #{tag.name}

#galleries
  .section(style="margin-top: 15px")
    Featured

  - @site[:featured_galleries].each do |item|
    != render "_gallery", :gallery => item

  .section
    Galleries

  - @site[:galleries].each do |item|
    != render "_gallery", :gallery => item

